<!-- myapp/templates/dashboard.html -->
{% extends 'base.html' %}

{% block title %}Dashboard{% endblock %}

{% block content %}

  <h2>Welcome to Your Dashboard</h2>

  {% if user.status == 'patient' %}
    <h3>Your Blog Posts</h3>
    {% for category, posts in blogs.items %}
      <h4>{{ category }}</h4>
      {% for post in posts %}
            <div class="card mt-3">
            <div class="card-body">
                <h5 class="card-title">{{ post.title }}</h5>
                <p class="card-text">{{ post.truncated_summary }}</p>
                <a href="{% url 'blog-detail' post.id %}" class="btn btn-primary">Read More</a>
            </div>
            </div>
      {% endfor %}
    {% endfor %}

  {% elif user.status == 'doctor' %}
    <h3>Your Uploaded Blog Posts</h3>

    {% for post in user.blog_set.all %}
      <div class="card mt-3">
        <div class="card-body">
          <h5 class="card-title">{{ post.title }}</h5>
          <p class="card-text">{{ post.truncated_summary }}</p>
          <a href="{% url 'blog-detail' post.id %}" class="btn btn-primary">Read More</a>
        </div>
      </div>
    {% endfor %}

    <a href="{% url 'create_blog' %}" class="btn btn-success mt-3">Create Blog</a>

  {% endif %}

{% endblock %}
